/* body{
    
} */

.container{
    padding-top: 4px;
    padding-right: 100px;
    padding-left: 100px;
}
/* .part1{
    
} */


.navbar{
    display: flex;
}

.right-nav{
    display: flex;
    margin-left: 65%;
    justify-content: space-between;
}

.w2{
    margin-left: 15px;
}
.w3{
    margin-left: 15px;
}
.w4{
    margin-left: 15px;
}
.w5{
    margin-left: 15px;
    border-width: 30px;
    background-color: lime;
}

.below-nav{
    margin-top: 50px;
    display: flex;
}

.right{
    margin-left: 15%;
}
.s1{
    color: rgb(226, 96, 49);
}
.leftbox{
    height: 450px;
    width: 450px;
    
}

.bold{
    font-weight:600;
    font-family:sans-serif;
    font-size: 3.5rem;
}

.button{
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 12px;
        text-align: center;
        text-decoration: none;
        /* display: inline-block; */
        font-size: 16px;
        margin: 4px 6px;
        border-radius: 50px;
    
}

.button1{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 12px;
    margin: 2px 3px;
    border-radius: 5px;

}

.part2{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
}
.box1{
    border: none;
    border-color: grey;
    border-width: 2px;
    padding: 50px;
    margin-right: 5px;
}
.box2{
    border: none;
    border-color: grey;
    border-width: 2px;
    padding: 50px;
    margin-right: 5px;
}

.box3{
    border: none;
    border-color: grey;
    border-width: 2px;
    padding: 50px;
    margin-right: 5px;
}

.box4{
    border: none;
    border-color: grey;
    border-width: 2px;
    padding: 50px;
    margin-right: 5px;
}

.img{
    margin-left: 20px;
}

.box1:hover{
    background-color: rgb(171, 219, 183);
}
.box2:hover{
    background-color: rgb(171, 219, 183);
}
.box3:hover{
    background-color: rgb(171, 219, 183);
}
.box4:hover{
    background-color: rgb(171, 219, 183);
}
