html, body
{
    margin: 0px; padding: 0px
}
.section{
    padding-top: 4px;
    padding-right: 150px;
    padding-left: 150px; 
}
.part1{

    background-color: rgb(240, 255, 240); 
}

.part2{
    padding-right: 180px;
    padding-left: 180px;
}

.navbar{
    display: flex;
    margin-top: 15px;
}

.right-nav{
    display: flex;
    margin-left: 60%;
    justify-content: space-between;
}

.w2{
    margin-left: 25px;
}
.w3{
    margin-left: 25px;
}
.w4{
    margin-left: 25px;
}
.w5{
    margin-left: 25px;
    border-width: 30px;
    background-color: lime;
}

.below-nav{
    margin-top: 50px;
    display: flex;
}

.right{
    margin-left: 15%;
}
.s1{
    color: rgb(243, 102, 42);
    font-size: 20px;
}
.leftbox{
    height: 450px;
    width: 450px;
    
}

.bold{
    font-weight:700;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
}

.button{
        position: relative;
        background-color: rgb(33, 181, 115);
        border: none;
        font-size: 10px;
        color: #FFFFFF;
        padding: 20px;
        width: 150px;
        height:50px;
        text-align: center;
        border-radius: 50px;
        text-decoration: none;
        cursor: pointer;
        
    
}

.button1{
    position: relative;
        background-color: rgb(33, 181, 115);;
        border: none;
        font-size: 12px;
        color: #FFFFFF;
        padding: 2px;
        width: 80px;
        height: 30px;
        text-align: center;
        border-radius: 30px;
        text-decoration: none;
        cursor: pointer;
        margin-top: 18px;
        margin-left: 20px;

}

.part2{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    padding-right: 150px;
    padding-left: 150px; 
}
.box1{
    border: none;
    background-color: rgb(244, 252, 245);
    border-color: grey;
    border-width: 2px;
    padding: 50px;
    margin-right: 5px;
    cursor: pointer;
}
.box2{
    border: none;
    background-color: rgb(244, 252, 245);
    border-color: grey;
    border-width: 2px;
    padding: 50px;
    margin-right: 5px;
    cursor: pointer;
}


.box3{
    border: none;
    border-color: grey;
    background-color: rgb(244, 252, 245);
    border-width: 2px;
    padding: 50px;
    margin-right: 5px;
    cursor: pointer;
}


.box4{
    border: none;
    border-color: grey;
    border-width: 2px;
    padding: 50px;
    margin-right: 5px;
    background-color: rgb(244, 252, 245);
    cursor: pointer;
}

.img{
    margin-left: 20px;
}


.box1:hover{
    background-color: white;
    box-shadow: darkgrey 12px 11px 8px 8px;
    transform: scale(1.1);
  
}

.box2:hover{
    background-color: white;
    box-shadow: darkgrey 12px 11px 8px 8px;
    transform: scale(1.1);
  
}

.box3:hover{
    background-color: white;
    box-shadow: darkgrey 12px 11px 8px 8px;
    transform: scale(1.1);
  
}

.box4:hover{
    background-color: white;
    box-shadow: darkgrey 12px 11px 8px 8px;
    transform: scale(1.1);
  
}